<section>
    <button md-button color-primary>flat</button>
    <button md-raised-button>raised</button>
    <button md-fab> fab</button>

</section>


<section>
    <button md-button color="primary">primary</button>
    <button md-button color="accent">accent</button>
    <button md-button color="warn">warn</button>
</section>

  <section>
    <button md-raised-button color="primary">primary</button>
    <button md-raised-button color="accent">accent</button>
    <button md-raised-button color="warn">warn</button>
  </section>